
.cbx-loading {
    background: url("../img/loading.gif") no-repeat scroll left top transparent;
    border: medium none;
    color: #fff;
    font-size: 0;
    height: 25px;
    width: 25px;
}
.cbx, .cbx-container {
    cursor: default;
    display: inline-block;
    text-align: center;
    /*vertical-align: middle;*/
	margin:-3px 4px 0 0;
}
.cbx {
    border-radius:0px;
    text-align: center;
    vertical-align: middle;
}
.cbx-label {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    vertical-align: middle;
}
.cbx-container + .cbx-container, .cbx-container + label, label + .cbx-container {
    margin-left: 5px;
}
label .cbx {
    margin: 0 5px;
}
.cbx-xs {
    font-size: 0.75em;
    height: 16px;
    width: 16px;
}
.cbx-sm {
    font-size: 13px;
    height: 19px;
    width: 19px;
}
.cbx-md {
    
    height:20px;
    width:20px;
}
.cbx-lg {
    border-radius: 4px;
    font-size: 22px;
    height: 30px;
    width: 30px;
}
.cbx-xl {
    border-radius: 5px;
    font-size: 26px;
    height: 36px;
    width: 36px;
}
.cbx-active {
    border:2px solid #939393;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #939393;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	position:relative;
}
.cbx-active:focus, .cbx-active:hover {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.cbx-disabled {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #ddd;
    color: #ddd;
    cursor: not-allowed;
}
.has-success .cbx-active {
    border-color: #3c763d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #2b542c;
}
.has-success .cbx-active:focus, .has-success .cbx-active:hover {
    border-color: #2b542c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #67b168;
}
.has-warning .cbx-active {
    border-color: #8a6d3b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #66512c;
}
.has-warning .cbx-active:focus, .has-warning .cbx-active:hover {
    border-color: #66512c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #c0a16b;
}
.has-error .cbx-active {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #843534;
}
.has-error .cbx-active:focus, .has-error .cbx-active:hover {
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}
.has-success .cbx-label {
    color: #2b542c;
}
.has-warning .cbx-label {
    color: #66512c;
}
.has-error .cbx-label {
    color: #843534;
}
.cbx-block {
    display: block;
    text-align: left;
}
.cbx-block + .cbx-block {
    margin: 5px 0 0;
}

