/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position:absolute;
  list-style: none;
  overflow: hidden;
  width: 100%;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  height:828px;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {

  float: left;

  }
