

/*--------------- Home Page Responsive ------------------*/



@media only screen and (max-width:1210px){

.dr-wrapper{ max-width:inherit; width:96%; }

.workstuf .leftsec{ width:47%; max-width:inherit; }

.workstuf .rightsec{ max-width:inherit; width:50%; }	

.workstuf .rightsec p{ font-size:26px;}	

.workstuf .leftsec2{ width:50%; max-width:inherit; }

.workstuf .rightsec2{ max-width:inherit; width:47%; }	

.workstuf .rightsec2 p{ font-size:28px;}	 

.destistuf ul li { float: left; margin: 10px 1%; width: 31.333%;}	

.destistuf ul li .block{ max-width:inherit;}	

.destistuf ul li .block img{ width:100%; float:left;}

.sidesec .listpanel h2{ font-size:20px;} 

.sidesec .optionalsec h2{ font-size:22px;}

.map-search .sidebar .listsection .listing .headingsec{ padding:35px 0;}

.map-search .sidebar .listsection .listing .headingsec h2{ font-size:13px;}

.map-search .sidebar .listsection .listing .headingsec p{ font-size:12px;}

.map-search .sidebar .listsection .listing .headingsec p span{ padding-right:10px;}

.passview .passblock .contblock i img{ float:none; width:15%; }



/*=========6-april-15=======*/









/*=========6-april-15=======*/



/*=========19-may-15=======*/
.bs_left_event ul li a i{ width:20px; font-size:20px;}
.bs_left_event ul li a i img{ max-width:100%;}
.bs_left_event ul li a {  font-size: 12px;}
#cssmenu > ul > li > a{ padding:13px !important;}
/* .Calenderform input[type="text"]{font-size:13px;} */
.delete{ font-size:14px;}
.addanother{ font-size:14px !important;}
}



@media only screen and (max-width:1100px){
.workstuf .rightsec2 .infoblock{ top:15%;}	
.headbar ul{ margin-left:10px;}
.map-search .sidebar .listsection .listing .headingsec h2{ font-size:15px;}
.map-search .sidebar .listsection .listing .headingsec p{ font-size:12px;}
.map-search .sidebar .listsection .listing .headingsec p span{ padding-right:10px;}
.user-sec .botreview .datingreview{ padding-bottom:50px;}
.user-sec .botreview .datingreview ul li{ max-width:27px; height:27px;}.user-sec .botreview .datingreview ul li img{ width:49%;}
.Calenderform p{min-height: 40px;}
}
@media only screen and (max-width:1050px){
.workstuf .rightsec h2{ font-size:26px;}
.workstuf .rightsec p{ font-size:21px;}	
.workstuf .leftsec2 h2{ font-size:26px;}
.workstuf .leftsec2 p{ font-size:21px;}	
.workstuf .rightsec2 .clientinfo{ left:20px;}
.workstuf .rightsec2 .clientinfo img{ width:86%;}  
.bgback2{ background-size:cover;}.bannersec{ background-size:cover;}	
.sidesec .booking-sec .buttons .booknow a{ font-size:15px;}
.sidesec .booking-sec .buttons .recomm a{ font-size:15px;}
.sidesec .optionalsec .servsec .colbar .priceqty label { font-size: 15px; padding: 3px 0 5px;}
.sidesec .booking-sec .booksec .datesec input[type="text"]{ font-size:13px;}
.sidesec .booking-sec .booksec .travelsec span select{ font-size:13px; }
.reviewsec .reviewright{ float:none;}
.leftcolbar .desc-sec p{ font-size:15px;}
.reviewsec .reviewleft .revblock .colright p{ font-size:15px;}
.leftcolbar .over-sec .colone p{ font-size:17px;}
.sidesec .booking-sec{ max-width:inherit;}
.bgback3{background:url(../images/bg-back.jpg) center 0 no-repeat; position:relative; padding-bottom:60px;}
.summary-sec .reserv-detail .rightcolsec .rdetail h2{ font-size:13px; }
.summary-sec .reserv-detail .rightcolsec .rdetail p{ font-size:14px;}
.listview .listblock .headline h1{ font-size:35px;}
.user-sec .user-banner .user-name{ top:10%; text-align:center;}
.user-sec .user-banner .user-name p{ font-size:18px;}
.user-sec .user-banner .user-name p span { font-size: 25px;}
.user-sec .list-stuf .sectionlist .listname h3 {  font-size: 15px;}
.user-sec .guide-travel .travelblock .guidesec .topspace{ padding-top:3%;}
.user-sec .guide-travel .travelblock .guidesec h3{ font-size:26px;}
.user-sec .guide-travel .travelblock .guidesec p.text{ font-size:18px;}/*=========6-april-15=======*/
.bs_left_event ul li a { font-size:17px;}
.bs_event_form-one p { margin-left:8%;}
.bs_event_form-one span { margin-left:8%;}/*=========6-april-15=======*/.selectbox select{ font-size:13px;}
.help_right{ width:23%;}
#cssmenu > ul > li > a{padding: 10px !important;}.dashlinks ul li a{ font-size:12px;}
.darkHeader{position:relative; display:none;}
.help_right{display:none;}
.pos_relative > .col-xs-12.col-sm-9.col-md-9{width:100%;}
}
@media only screen and (max-width:1023px){
header .finder { float: right;  max-width: 190px;  position: relative;  top: 15px;}
.finder-link{ display:block;}
.finder{ display:none;}
.reviewsec .reviewright .recomfor .rowvar .coll p{ display:block;}
.topbar{ margin:0px;}
.map-search .sidebar .listsection .listing .headingsec h2{ font-size:15px;}.map-search .sidebar .formsec .exptype {width:100%; padding:0 3%;}
.map-search .sidebar .formsec .datetype { width:100%; padding:0 3%;}.map-search .sidebar .formsec .traveltype { width:100%; padding:0 3%;}
.map-search .sidebar .formsec .ranktype { width:100%; padding:0 3%;}
.map-search .sidebar .formsec .spcloffer { width:100%; padding:0 3%;}
.map-search .sidebar .formsec .pricerange{ width:100%; padding:0 3%;}
.map-search .sidebar .formsec h2{ font-size:13px !important; text-align:left !important;}
.map-search .sidebar .formsec .ranktype{ text-align:left; padding-bottom:15px;}
.map-search .sidebar .formsec .ranktype .fa-star{ font-size:15px;}
.summary-sec{ margin:0px;}
.listing-sec{ margin:0px;}
.dash-sec{ margin:0px;}
/*=========6-april-15=======*/
.help_right p { font-size:13px;}
.bs_event_form-one p { margin-left:5%;}
.bs_event_form-one span{ margin-left:5%;}
.bs_right_one { width:100%;}
/*=========6-april-15=======*/
}
@media (min-width: 961px) and (max-width: 1023px) {
.map-search .sidebar, .map-search .maparea{ top:203px !important;}
.headbar ul li a { font-size: 18px !important;}
}
@media (min-width: 768px) and (max-width: 1023px) {.map-search .maparea { left: 0; position: fixed; right: auto; width: 38.5%; bottom:0; top:245px;}
.map-search .sidebar {  bottom: 0;  overflow-y: scroll;  position: fixed;  right: 0;  top: 245px;  width: 60%;}
.map-search .maparea iframe {  width: 100%;  position:relative;}
.headbar ul li a{ font-size:20px;}
.recv_list .map-search .sidebar { bottom: 0;  overflow-y: scroll;  position: inherit;  right: 0;  top: 0;  width: 100%;}
#product-extra-form .padding_right{ padding-right:15px !important;}
.manage-listing .listing-edit-info {float: left; width: 100%;}.manage-listing .listing-edit-info { float: left;  width: 80%;}
.manage-listing .listing-visibility{ margin-bottom:10px;}
.listing-edit-info .view-customer{ margin-bottom:10px;}}
@media only screen and (max-width:850px){
.workstuf .leftsec{ width:45%;}	
.workstuf .rightsec{ width:51%;}
.workstuf .rightsec h2{ font-size:23px;}
.workstuf .rightsec p{ font-size:19px;}
.workstuf .leftsec2{ width:49%;}
.workstuf .leftsec2 h2{ font-size:23px;}
.workstuf .leftsec2 p{ font-size:19px;}
.workstuf .rightsec2 .infoblock h2{ font-size:22px;}
.workstuf .rightsec2 .infoblock p{ font-size:17px;}
.workstuf .rightsec2 .infoblock h3{ padding-top:10px;}
.user-sec .guide-travel .travelblock .guidesec p.text{ font-size:15px;}
.sb_pre_btn { float: left; margin-top:15px; position: inherit; text-align: center;  width: 100%;}
.sb_pre_btn a { float:none;}
.Trips_form_design, .Wallet_form, .Wallet_form:nth-child(3), .Wallet_form:nth-child(4) {
  float: left;  margin-left: 2.2%;  margin-top: 10px;  width: 47%;    }
}
@media only screen and (max-width:767px){
.topbarmenu{ height:auto;}
.navbar-fixed-top, .navbar-fixed-bottom{position:inherit;}
.dr-wrapper{ max-width:inherit; width:90%; }
.workstuf h1{ padding-bottom:50px;}	
.workstuf .leftsec{ width:100%;}
.workstuf .leftsec img{ width:99%;}
.workstuf .rightsec{ float:left; width:100%; padding:50px 0 0 0;}	
.workstuf .rightsec2{ width:100%;}
.workstuf .leftsec2{ width:100%; padding-top:110px;}
.workstuf .rightsec2 .infoblock h2{ font-size:25px;}
.workstuf .rightsec2 .infoblock p{ font-size:22px;}
.workstuf .rightsec2 .infoblock h3{ padding-top:50px;}	
.bgback1{ padding-bottom:0px;}	
.destistuf ul li {  width: 48%;}
.tourismsec h1{ font-size:32px;}
.tourismsec p{ font-size:28px; padding:0 0 15px 0;}
.workstuf .leftsec img{ width:97%;}	
.bannerstuf .searchbar{ max-width:inherit; width:100%; height:inherit; float:left;}
.bannerstuf .searchbar input[type="text"]{ max-width:inherit; padding:0 2%; margin-bottom:10px;}	
.bannerstuf p{ font-size:28px;}	
.toprap .heading{ padding-bottom:15px;}
.leftcolbar .ratingsec .ratingpart{ float:left; width:100%; text-align:center;}
.leftcolbar .ratingsec .ratingpart label{ width:100%; padding-right:0; text-align:center;}
.leftcolbar .ratingsec .ratingpart .fa-star{ float:none; font-size:20px;}
.leftcolbar .desc-sec .colone{ padding:0px;}
.reviewsec .reviewleft .revblock .leftimg { float: left; text-align: center; width: 100%;}
.reviewsec .reviewleft .revblock .leftimg img{ width:35%; float:none;}
.reviewsec .reviewright .recomfor .rowvar .coll{ width:100%; padding:10px 0;}
.links ul li{ width:100%;}
.maparea{ display:none;}
.map-search .sidebar { overflow-y: scroll; position: relative; top:0; float:left; width:100%;}
.headbar{ text-align:center;}
.headbar input[type="text"]{ max-width:inherit;}
.headbar ul { float: left; margin-left: 0; padding: 15px 0; text-align: center; width: 100%;}
.headbar ul li { display: inline;  padding: 5px 0 0; float:none;}.headbar ul li a{ font-size:15px;}.headbar input[type="button"] {  float: none;  margin: auto;  max-width: 200px;  text-align: center;  width: 100%;}
.confirm-sec h1{ font-size:32px;}
.confirm-sec .info{ font-size:18px;}
.confirm-sec .tourinfo .statusbar p{ text-align:left; font-size:15px;}
.listview .listblock .headline h1{ font-size:25px;}
.passview .passblock .contblock i{ margin-top:25%;}.passview .passblock .contblock h2{ font-size:18px; bottom:35%;}
.user-sec .travpass h2{ padding-bottom:30px;}
.user-sec .travpass .icontext{ padding-bottom:25px;}
.user-sec .mapinfo .mapblock{ padding-bottom:25px;}
.user-sec .mapinfo .mapblock p{ font-size:25px;}
.user-sec .mapinfo .mapblock p span{ font-size:20px;}
.user-sec .list-stuf .sectionlist{ padding-bottom:25px;}
.user-sec .list-stuf .sectionlist .listname{ padding-left:12%;}
.user-sec .guide-travel .travelblock{ margin-bottom:25px;}
.user-sec .botreview .datingreview{ margin-bottom:45px;}
.errorsec{ padding:60px 0;}
.errorstuf{ max-width:inherit; width:90%;}
.errorstuf img{ width:60%;}
.creditpop { left: 0; margin: auto; right: 0; width: 96%; max-width:inherit;}
/*=========6-april-15=======*/
.bs_right_one { width:100%;}
/*=========6-april-15=======*//*=========13-april-15=======*/
.padding_right{ padding-right:15px !important;}
.pricing ul li{ width:100%; margin-bottom:20px;}
.bs_left_event ul{ padding-left:0px;}
.help_right{width: 94%; margin-bottom: 20px; margin-left: 3%;}
.plupload_wrapper{min-width:100% !important;}.map_bot_text{ margin:20px 0px;}
.Calenderform .padding_left { padding-left: 0 !important;  padding-right: 0 !important;}
.manage-listing .listing-search .form-item { width: 100%;  margin-bottom: 10px;}
.manage-listing .listing-search > input[type="submit"] { margin: 5px 0;  width: 100%;}
.manage-listing .listing-edit-info {float: left; width: 100%;}
.manage-listing .listing-data > h2 { font-size: 18px;  font-weight: 700;  line-height: 17px;  padding: 0;  text-align: center;
}
.manage-listing .listing-left-sec { float: none;  margin: 20px auto;  width: 110px; }
.manage-listing .listing-edit-info {  float: left;  width: 100%; }.manage-listing .listing-data {  float: left;  width: 100%; }
.manage-listing .listing-data > h2{  font-size: 18px;  font-weight: 700;  line-height: 17px;  padding: 0;  text-align: center;}
.listing-info .listing-data span {
  float: left;  margin-bottom: 20px;  text-align: center;  width: 100%;
}
.manage-listing > h2 {  text-align: center;}
.add-listing{width: 100%;}
.add-listing a {  color: #000 !important;  width: 100%;}
.pricing ul li:first-child .tab_boader{ border-right:2px solid #656562;}
.pricing ul li:last-child .tab_boader{ border-left:2px solid #656562; }
 #amenities-included > p {  float: left;  margin: 0px 0 0 15px;  width: auto;}
}



@media only screen and (max-width:650px){

	

.bannerstuf{ padding:160px 0 120px;}

.bannerstuf .searchbar input[type="text"]{max-width:inherit; padding:0 2%;}	

.loginsec{ float:left; max-width:inherit; margin:60px 0 0 0;}	

.loginsec .loginstuf{ padding:20px 7%;}	

header .search{ clear:left; width:80%; margin:10px 0 0 0; max-width:inherit;}	

.user-sec .list-stuf .sectionlist .listname{ padding-left:80px;}

.user-sec .user-banner .user-name{ position:relative; margin-top:15px; float:left; width:100%; text-align:center;}

.user-sec .user-banner .user-name img{ width:20%;}	

.user-sec .user-banner .user-name p{ text-shadow:none; color:#1e1e1e;}	
.listing-search_design {

  float: left;

  margin-left: 1.5%;

  margin-right: 2%;

  margin-top: 10px;

  width: 98%;

}

.listing-search_design:last-child {

  float: left;

  margin-right: 0;

  width: 98%;

}

.listing-search_design .form-submit{ height:44px;}

}

@media only screen and (max-width:550px){
.bannerstuf .searchbar input[type="text"]{ padding:0 2%;}	
.bannerstuf h2{ font-size:30px;}
.bannerstuf p{ font-size:19px;}
.leftcolbar .over-sec .circles .circle{ width:72px;}
.passview .passblock .contblock i{ margin-top:20%;}
.passview .passblock .contblock h2{ font-size:18px; bottom:25%;}
.errorstuf .titleline p{ font-size:20px;}}
@media only screen and (max-width:480px){
.confirm-sec h1{ font-size:26px;}
.workstuf h1{ font-size:26px; padding-bottom:30px;}	.destistuf h1{ font-size:26px;}	
.destistuf ul li{ width:98%;}	
.destistuf ul li .block{ float:left; }
.tourismsec h1{ font-size:24px;}
.tourismsec p{ font-size:18px;}
.socialsec img{ width:86%;}
.socialsec h1{ font-size:26px;}
.workstuf{ padding-bottom:40px;}.workstuf .rightsec2 .clientinfo img{ width:76%;}
.toprap .heading h1{ font-size:25px; text-align:center;}
.leftcolbar .nav > li > a{ padding:10px 9px;}
.headbar ul li { float: left;  padding: 10px 0;  width: 100%;}
.headbar ul li + li { border-top: 1px solid #cccccc;}
.listing-sec h1{ font-size:22px;}
.user-sec .guide-travel .travelblock .guidesec h3{ font-size:18px;}
.user-sec .guide-travel .travelblock .guidesec p.text{ font-size:13px;}
.user-sec .guide-travel .travelblock .guidesec .topspace p{ font-size:18px;}
.user-sec .guide-travel .travelblock .guidesec .topspace p span{ font-size:15px;}
.listing_form_design { float: left;  margin-right: 2%;  width: 100%;}
.listing_form_design:first-child {  margin-left: 0;}
.listing_form_design:last-child {width:100%; }
.Trips_form_design, .Wallet_form, .Wallet_form:nth-child(3), .Wallet_form:nth-child(4) {  float: left;
  margin-left: 2.2%;  margin-top: 10px;  width: 97%;  
}
}
@media only screen and (max-width:430px){.bannerstuf .searchbar input[type="submit"]{ max-width:inherit; float:left;}	
.bannerstuf .searchbar input[type="text"]{ width:100%; max-width:inherit; padding:0 2%;}		.workstuf .rightsec2 .infoblock h2{ font-size:21px;}	
.workstuf .rightsec2 .infoblock p{ font-size:16px; padding:0 10px;}
.workstuf .rightsec2 .infoblock h3{ padding-top:7px;}	
.workstuf .rightsec h2{ font-size:19px;}
.workstuf .leftsec2 h2{ font-size:19px;}
.workstuf .leftsec2 p{ font-size:16px; }
.workstuf .rightsec p{ font-size:16px; }
header .finder{ display:none;}
.leftcolbar .over-sec .circles .circle{ text-align:center; width:100%; margin:5px 0;}
.loginsec .loginstuf .btnfb a{ font-size:14px;}
.loginsec .loginstuf h3{ font-size:20px;}
.loginsec .loginstuf .rowlogin p{ font-size:13px;}
.spinner { max-width:inherit;}
.creditpanel .btnsend{ max-width:inherit;}
.selecttag { width: 110px;}
.manage-listing .listing-visibility { float: left; margin-right: 5px; width: 100%; margin-bottom: 10px;}
.manage-listing .listing-visibility { float: left; margin-bottom: 10px;  margin-right: 5px;  width: 100%;}
.listing-edit-info .view-customer { float: left; margin-bottom: 10px; margin-right: 5px; width: 100%;}.listing-edit-info .view-customer .form-submit {  width: 100%;}
.manage-listing .listing-header-message { float: left;  width: 100%;}.manage-listing .listing-header-message a { width: 100%;}
.item-list .pager li{ float:left;}}